root{
    font-family: 'Raleway', sans-serif;
}
.back{
    background: url("https://cdn.pixabay.com/photo/2012/02/26/10/51/futuristic-17035_960_720.jpg") no-repeat fixed  right;
    height: 80vh;
}
.img-flask{
    width: 55vh;
    margin-left: 0vmin;
}
.discover:hover{
    background-color: yellow;
    color: black;
}
.text{
    text-align: left;
    font-size: 25px;
        padding: 5vmin 4vmin 2vmin 0vmin;
        font-family: 'Raleway', sans-serif;


}
.jumbo{
     text-align: left;
    padding: 12vmin 4vmin 2vmin 0vmin;
        font-family: 'Raleway', sans-serif;

}
.discover{
    padding: 10vmin;
    background-color: rgba(86, 102, 226, 0.49);
    margin-top: 50%;
    margin-left: 20%;
    margin-right: 28%;
    color: white;

}
.jumbo1{
    text-align: left;
    padding: 10vmin 2vmin 2vmin 0;
        font-family: 'Raleway', sans-serif;

}
.spac{
    margin-top: 10%;
}
.grey{
    margin-top: 10vmin;
    background-color: rgba(185, 170, 170, 0.21);
}
.pad-space{
 margin: 0 0 -5% 0;
}
.pad-space1{
 margin: -5% 0;
}
.sci-img1{
    margin: -4% 0 -4% -5%;
}
.text1{
    text-align: left;
    font-size: 25px;
        padding: 5vmin 4vmin 2vmin 0vmin;
        font-family: 'Raleway', sans-serif;

}
.jumbo2{
    text-align: left;
    padding: 20vmin 10vmin 2vmin 10vmin;
        font-family: 'Raleway', sans-serif;

}
.text2{
    text-align: left;
    font-size: 25px;
        padding: 5vmin 10vmin 2vmin 10vmin;
        font-family: 'Raleway', sans-serif;

}
.jumbo3{
    text-align: left;
    padding: 20vmin 10vmin 2vmin 10vmin;
        font-family: 'Raleway', sans-serif;

}
.text3{
    text-align: left;
    font-size: 18px;
        padding: 5vmin 10vmin 2vmin 10vmin;
        font-family: 'Raleway', sans-serif;

}
.jumbo4{
    text-align: center;
    padding: 20vmin 10vmin 2vmin 10vmin;
        font-family: 'Raleway', sans-serif;

    color: aliceblue;
}
.img{
    margin: -5% 0 0 0;
    width: 90vh;
    height: 100vh;
    
}
.img1{
    width: 40vh;
    padding: 5vmin;
    
}
.yellow{
    background-color: yellow;
}
.non{
    background-color: yellow;
}
.team{
    padding: 5vmin 10vmin 10vmin 10vmin;
    width: 70vmin;
    height: 65vmin;
}
.back1{
    background: url("https://images.pexels.com/photos/1040499/pexels-photo-1040499.jpeg?auto=compress&cs=tinysrgb&h=650&w=940") no-repeat fixed center;
    background-size: cover;
}
h4{
    color: white

}
.yext{
    color: yellow;
        font-family: 'Raleway', sans-serif;
}
.footer-img{
    width: 180vmin;
}
.text5{
    padding: 1vmin;
    color: aliceblue;
        font-family: 'Raleway', sans-serif;

}
.footer{
    background: url("https://www.ki-labs.com/assets/images/ki-wave@2x.png")no-repeat fixed bottom;
    padding: 5vmin;
    height: 40vh;
}
.footer-text{
    text-align: center;
    color: grey;
    padding: 2vmin;
        font-family: 'Raleway', sans-serif;

}
.one{
    color: black;
        font-family: 'Raleway', sans-serif;

}
.mob-flex{
    display: flex;
    flex-direction: row;
}


@media (min-width: 350px) and (max-width: 570px) {
    
    .mob-logo{
        margin: 13vmin 0 0 0;
        width: 200px;
        height: 100px;
    }
    .mob-icons{
        visibility: hidden;
    }
    .mob-jumbo{
        width: 100vh;
        font-size: 60px;
        text-align: center;
    }
    .mob-flex{
        display: flex;
        flex-direction: column;
    }
    .mob-text{
        font-size: 45px;
        width: 100vh;
        text-align: center;
    }
    .mob-text1{
        font-size: 30px;
        width: 100vh;
        text-align: center;
        
    }
    .mob-flex1{
        display: flex;
        flex-direction: column;
    }
    
    .mob-img{
        display: none;
    
    }
    .mob-discover{
        margin-top: 110vmin;
        margin-left: 40vmin;
        width: 50vh;
        font-size: 30px;
        text-align: center;
    }
    .mob-who{
        margin-top: 80vmin;
        width: 100vh;
        margin-left: 0;
    }
    .mob-mang{
        width: 100vh;
    }
    .mob-prof{
        width: 80vh;
    }
    .mob-img-brand{
        width: 150px;
        margin: 5vmin 6vmin;
    }
    .grey{
        background-color: white;
        margin: 35vmin 0 0 0;
        width: 80vh;
    }
    .mob-rev{
        width: 100vh;
    }
    .mob-list{
        width: 100vh;
        font-size: 30px;
    }
    .footer-img{
        width: 100vh;
    }
    
} 

@media (min-width: 800px) and (max-width: 1200px){
    
    .tab-flex{
        display: flex;
        flex-direction: column;
    }
    .tab-jumbo{
        width: 100%;
    }
}
